body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #f4ecd7;
    font-size: 25px;

    /* stop select any on page */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.container {
    background: silver;
    padding: 10px 25px;
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.calcCover {
    background: silver;
}

.appScreen {
    background: #a6bb00;
    color: #fff;
    overflow: hidden;
    text-align: right;
    padding: 5px 40px 5px 5px;
}

.app-btn {
    border-color: silver;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

#calc-tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 15px;
    border-radius: 4px;
    display: none;
}
#calc-tooltip[data-show] {
    display: block;
}
